.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .leftContainer {
        width: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .rightContainer {
        width: 12rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .avatar {
            margin-right: 0.5rem;
        }
    }
}