.btnGroup {
    margin-top: 2rem;
    display: flex;
    width: 20rem;
    padding: 0 24px;
}

.formGroup {
    padding: 0 24px;
    margin-top: 2rem;

    .firstStep {
        width: 75%;
    }

    .secondStep {

    }

    .thirdStep {

    }
}

.hidden {
    display: none;
}